@function get-color($name: "primary") {
  @return map-get($colors, $name);
}

body {
  height: 100vh;
  background: map-get($colors, "background");
  color: map-get($colors, "foreground");
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: lighten(get-color("primary"), 10%);
}
