@mixin btn-fill($color-name) {
  &.-fill-#{$color-name} {
    // $color: map-get($colors, $color-name);
    // $foreground: map-get($colors, "foreground");
    background: watch-color($color-name);
    color: watch-foreground-color(watch-color($color-name));

    &:hover {
      background: watch-color-level($color-name, 2);
    }
  }
}

.btn {
  border: none;
  padding: 8px 16px;
  margin: 8px 0;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 15px #00000020;
  display: block;

  @include btn-fill("primary");

  &.-round {
    padding: 8px;
    border-radius: 50%;
  }

  &.-text {
    background: none;
    color: inherit;
    transform: scale(1);
    box-shadow: none;
    // padding: 0;

    &.-primary {
      color: map-get($colors, "primary");

      &:hover {
        color: lighten(map-get($colors, "primary"), 10%);
      }
    }
  }
}
